$TextColor: #fff;
$Highlight: #ff4e33;
$ButtonBG: #e3ac00;
$white-text: #b9c6d1;
$sectionfont: 'Fresca', sans-serif;
$sectioncardBG: #3b3f50;
$sectioncardborder: #3b3f51;
$mainBg: #21232e;
$grad1: #dfa504;
$grad2: #942f51;