$TextColor: #2c2f3c;
$Highlight: #14a0c7;
$ButtonBG: #699900;
$white-text: #aec3ce;
$sectionfont: 'Hind', sans-serif;
$sectioncardBG: #21232e;
$sectioncardborder: #21232f;
$mainBg: #fff;
$grad1: #66960a;
$grad2: #305ecc;