body{
	min-width: 900px;
}
.header_inner{
	background-color: #ffffff;
	color: #777;
	display: flex;
	justify-content: space-around;
	font-family: 'Courier Prime', monospace;
	text-align: center;

}

.header_outer{
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 10vh;
	min-width:900px;
	top:0;
}

nav{
	display: flex;
	align-items: center; 
}

.header-title h1{
	text-transform: uppercase;
	font-size: 25px;
}

.header-navigation{
	display: flex;
	width: 400px;
	justify-content: space-around;
}
.header-navigation a{
	text-decoration: none;
	color: #777;	
    display:inline-block;
}

.header-navigation a:hover{
	color: #bfba55;
}

.home-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	font-family: 'Courier Prime', monospace;
}

.home-flex{
	text-align: center;
	color: white;
}
.home-flex h2{
	font-size: 50px;
	color: #FFFFFF;	
	font-weight: bold;
    font-family: 'Slabo 27px', serif;
	margin: 10px auto;	
}
.home-flex p{
	font-size: 12px;
	color:#bfba55;
}

.home-flex input{
	font-size: 14px;
	font-weight: bold;
	margin-top: 30px;
	background-color:#FFFFFF;
	width: 140px;
	font-family: 'Courier Prime', monospace;
	height: 40px;
	border-radius: 25px;
	text-transform: uppercase;
	color: #777;
}

.blog-article{
	margin-top: 100px;
	margin-bottom: 40px;
	width: 100%
}

.blog{
    margin: auto;
	width: 50%;
}

.blog img{
	max-width: 100%;
	z-index: -1;
}

.blog-title-img{
	width: 100%;
}

.blog p{
	color: #777;
	font-size: 14px;
}

.blog h2{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Slabo 27px', serif;
	margin-bottom: 10px;
}

.blog input{
	font-size: 16px;
	background-color:#FFFFFF;
	width: 180px;
	height: 45px;
	border-radius: 25px;
	border: 1px solid lightgrey;
	font-family: 'Slabo 27px', serif;
	font-weight: bold;
	color: #777;
	margin: 20px 0px;
}

.post-information, .author, .post-date, .comments{
	display: flex;
	justify-content: left;
	vertical-align: top;
	position: relative;
	}

.author img{
	border-radius: 50%;
	height: 40px;
	margin-right: 5px;
}

.comments img{
	height: 20px;
	margin-top: 8px;
	margin-right: 5px;
}

.post-information h3{
	margin-top: 10px;
	margin-right: 20px;
	font-size: 14px;
	color: #777;
}

hr {
	width: 50%;
	opacity: 0.3;
}

.epam-footer{
	background-color: #000;	
	color: #777;
	display: flex;
	justify-content: space-around;
	margin: auto;
	width: 70%;
}

.epam-lab, .contact-us{
	padding-top: 60px;
	padding-bottom: 60px;
	max-width: 30%;
}
.epam-lab{
	padding-left: 100px;
}
.contact-us{
	padding-right: 100px;
}

.epam-footer h2{
	font-family: 'Merriweather', serif;
	color: #FFFFFF;
}

.contact-us a{
	text-decoration: none;
	color: #777;
}

.article5{
	margin-bottom: 80px;
}