/* Todo: your styles go here*/
ul{
	list-style: none;
}

.folder i{
	color: #edbc0b;
}
.file i{
	color: grey;
}

.hover:hover{
	background-color: lavender;
	cursor: pointer;
}

.hidden{
	display: none;
}

.clicked{
	display: block;
}