.tm-nav-item:hover{
	background-color: lightskyblue;
}

.tm-nav-item:hover a{
	color: #fff;
}

.tm-banner {
	background: linear-gradient(to right, lightskyblue, burlywood);
	z-index: 0;
}

.tm-banner-inner{
	z-index: 1;
	background: #fff;	
	position: relative;
}

.tm-banner-text{
	text-shadow: 5px 5px 3px #333;
	animation-name: animation;
	animation-duration: 4s;
}


@keyframes animation {
	 from {
	transform:translateX(200px);
  }

  to {
    transform:translateX(0);
  }
}

.flex-2-col{
	display: flex;
}

.tm-section-description{
	text-indent: 25px;
	text-align: justify;	
}

.padding-medium h2{
	text-align: center;	
	color: lightskyblue;
}

.padding-medium ol{
	list-style-type: lower-alpha;
}

.padding-medium li:hover::before{
	content: ">";
}

.text::after{
	display: inline-block;
	content: "New";
	font-variant: small-caps;
	color:red;
	font-weight: bold;
	vertical-align: top;
	font-size:10px;
}



.box-bg:hover {
	background-color: lightgrey; 
}

.box-bg:hover h2{
	color: lightskyblue;
}

.blocks p:nth-child(3){
	word-spacing: 10px;
	letter-spacing: 5px;
	font-style: italic;
}



.tm-content-box  {
	border-color: lightgrey;
	box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}
.tm-sidebar{
	box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}


.blocks {
	border-color: lightgrey;
	box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}
.blocks h2{
	text-align: left;
}
.carousel-content:first-child h2{
	text-align: center;
}
#contact h2{
	text-align: left;
}

.box-work:nth-child(odd){
	background-color: lightskyblue;	
	color: #fff;
}

.box-work p{
	font-style: italic;
}

.box-work p::first-letter{
	font-weight: bold;
}

.tm-section-description {
	text-indent: 25px;
	line-height: 30px;
}
.form-control{
  border: none;
  border-bottom: 2px solid lightskyblue;
}

.form-group input:focus{
  background-color: lightskyblue;
}

.form-group:nth-child(4){
    border: 2px solid lightskyblue;
}

.form-group textarea{
	background-image: url(../img/email-icon.png);
	background-repeat: no-repeat;
	background-position: right 8px bottom 8px;
	background-size: 30px;
}

.padding-medium button{
	border-color: lightskyblue;
	background-color: #fff;
	color: lightskyblue;
	float: right;
}

section::before{
	content: ''; 
    position: absolute; 
	border: 20px solid transparent; 
	border-left: 20px solid lightskyblue; 
	border-top: 20px solid lightskyblue; 	
}


@media print {
		
	.tm-sidebar, .tm-team-img, .gallery-container, section::before, .carousel-indicators, .text::after, li:hover::before, .tm-main-content section:last-of-type { display: none;}
	
	.tm-banner {
		background:none;
	}
	
	.tm-team-description-container{
		max-width:100%;
	}
	.tm-team-description-container h2, p{
		text-align: center;
	}
	.tm-content-box:last-child h2, .tm-team-description-container h2, .padding-medium h2{
		text-transform: uppercase;
		font-weight: 300;
	}
	
	p{
		font-size: 16px;
	}
	
	.tm-section-description{
		text-indent: 0;
		line-height: normal;
	}
	.tm-content-box:last-child h2{	
		text-align: center;
	}	
	
	body, .padding-medium, .tm-banner, .carousel, .tm-main-content, .tm-content-box{
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 10px;
		margin-bottom: 0;
	}

	li{
		list-style-type: none; 
	}
	.heading{
		text-align: center;
	}
	.heading div{
		width: 520px;
		display: inline-block;
	}
	li:nth-child(odd){
		text-align:right;
		padding-right: 40px;
	}
	
}
